<footer class="footer-section"
    id="contacts"
    aria-label="contacts section">
    <div class="container">
        <div class="footer">
            <div class="footer__terms">
                <div class="footer__terms-links">
                    <a href="#"
                        class="footer__terms-link">Terms of Use</a>
                    <a href="#"
                        class="footer__terms-link">Privacy Policy</a>
                </div>
                <p class="footer__terms-rights">© CloudFlex 2024. All Rights Reserved.</p>
            </div>
            <address class="footer__contacts">
                <a href="https://www.linkedin.com"
                    class="footer__contacts_link"
                    target="_blank">
                    <svg class="footer__contacts-icon"
                        aria-label="linkedin icon">
                        <use href="/assets/sprites/social.svg#linkedin-icon"></use>
                    </svg>
                </a>
                <a href="https://www.facebook.com"
                    class="footer__contacts_link"
                    target="_blank">
                    <svg class="footer__contacts-icon"
                        aria-label="facebook icon">
                        <use href="/assets/sprites/social.svg#facebook-icon"></use>
                    </svg>
                </a>
                <a href="https://www.instagram.com"
                    class="footer__contacts_link"
                    target="_blank">
                    <svg class="footer__contacts-icon"
                        aria-label="instagram icon">
                        <use href="/assets/sprites/social.svg#instagram-icon"></use>
                    </svg>
                </a>
            </address>
        </div>
    </div>
</footer>