<div class="mobile-navigation">
    <label for="mobileMenuToggler"
        class="mobile-navigation__btn mobile-navigation__btn_open">
        <svg class="mobile-navigation__btn-icon"
            aria-label="burger icon">
            <use href="/assets/sprites/main.svg#burger-icon"></use>
        </svg>
    </label>
    <input type="checkbox"
        class="mobile-navigation__toggler"
        id="mobileMenuToggler">
    <nav class="mobile-navigation__menu nav">
        <list class="nav__list">
            <li class="nav__list-item">
                <a class="nav__list-item-link"
                    href="#work">How we work</a>
            </li>
            <li class="nav__list-item">
                <a class="nav__list-item-link"
                    href="#about">About</a>
            </li>
            <li class="nav__list-item">
                <a class="nav__list-item-link"
                    href="#experience">Our experience </a>
            </li>
            <li class="nav__list-item">
                <a class="nav__list-item-link"
                    href="#testimonials">Testimonials</a>
            </li>
            <li class="nav__list-item">
                <a class="nav__list-item-link"
                    href="#regForm">Get started!</a>
            </li>
            <li class="nav__list-item">
                <a class="nav__list-item-link"
                    href="#contacts">Contacts</a>
            </li>
        </list>
        <label for="mobileMenuToggler"
            class="mobile-navigation__btn mobile-navigation__btn_close">
            <svg class="mobile-navigation__btn-icon"
                aria-label="close icon">
                <use href="/assets/sprites/main.svg#cross-icon"></use>
            </svg>
        </label>
    </nav>
</div>