@use 'base';
@use 'variables' as *;
@use 'mixins' as *;
@use 'placeholders';
@use 'sass:color';

.info-card {
    width: 180px;
    height: 205px;

    padding: 20px 10px 0;
    border-radius: 20px;
    background-color: color.adjust($white, $alpha: -0.85);
    @include d-flex(start, center, nowrap, column, 0, 10px);

    &__icon {
        width: 25px;
        height: 25px;
    }

    &__title {
        @include font(18px, 500, $black);
    }

    &__desc {
        @include font(16px, 300, $black);
        text-align: center;
    }

    &:hover {
        background-color: color.adjust($white, $alpha: -0.9);
        box-shadow: 0px 4px 20px color.adjust($black, $alpha: -0.85);

        cursor: pointer;
        color: $white;

        .info-card__title,
        .info-card__desc {
            color: $white;
        }
    }
}