@use 'variables' as *;

%hover-black {
    &:hover {
        cursor: pointer;
        color: var(--black);
    }
}
%hover-light {
    &:hover {
        cursor: pointer;
        color: var(--white);
    }
}