@use 'sass:color';
$white: #fff;

:root {
    --white: #{$white};
    --font-family: "Roboto", sans-serif;
    --black: #000;
    --blue: #678ff2;
}

$xs: 428px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
