@use 'sass:color';
$white: #fff;
$black: #000;
// $blue: #5873b6;
$blue: #678ff2;

:root {
    --white: #{$white};
    --font-family: "Roboto", sans-serif;
    --black: #{$black};
    --blue: #{$blue};
}

$xs: 428px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
